.container{
    width: 100%;
    margin: 0;
}
header{
    height: 149px;
}
.inner_header{
    width: 95%;
    height: 149px;
    margin: 0 auto 10px auto;
}
.logo_container{
    width: 100%;
    height: 30%;
    vertical-align: middle;
    text-align: center;
    float: none;
    border-bottom: #ae9ee2 solid 2px;
}
.title{

    margin: 0px;
}
.navigation{
    width: 100%;
    height: 40%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
    float: none;
    
}
.navigation a{
    margin: 0 auto;
    width: 23%;
}
.navigation li{
    font-size: 10px;
}
.sidebar{
    padding: 0;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    float: none;
}
.sidebar h1{
    font-size: 25px;
}
.main{
    float: none;
    width: 95%;
    background: none;
    border: none;
    margin: 0 auto;
    padding: 0;
    color: white;
}
.main img{
    width: 100%;
}
.footer{
    width: 95%;
}
.social{
    height: 80%;
    margin: 0 auto;
    padding-left: 36.98%;
}
.fab{
   float: none;
}
