* {
  text-decoration: none;
  list-style: none;
  font-family: "Gotu", sans-serif;
}
.clear {
  clear: both;
}
/* ----- Main Structure ----- */
.container {
  width: 100%;
  background: #5A26D3;
  margin: 0 auto;
  border-radius: 5px;
}
header{
  color: white;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
.sidebar {
  width: 42%;
  color: white;
  margin: 0 10px;
  padding-right: 22px;
  float: right;
}
.main {
  color: #001B0D;
  width: 46.5%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 2% 3% 0 0;
  float: right;
  box-shadow:  0 0 20px 2px currentColor;
}
.whole{
  width: 96%;
  margin: 0 auto;
  padding-bottom: 10px;
 
}
footer {
  margin: 10px auto;
  padding-top: 10px;
  height: 40px;
  width: 96%;
  border-top: #ae9ee2 solid 2px;
}
.credit {
  width: 100%;
  margin: 0 20px;
}
/*------details------*/
.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-family: "Yellowtail", cursive;
  color: #F86687;
 
}
.description_top {
  margin-bottom:  1px;
  color: #F86687;
}
.description_btm {
  margin-top: 0px;
  color: #F86687;
}
/* HEADER CSS */
.inner_header {
  width: 96%;
  height: 100%;
  display: block;
  margin: 0 0 0 25px;
  border-bottom: #ae9ee2 solid 2px;
}
.logo_container {
  height: 100%;
  display: table;
  float: left;
}
.navigation {
  float: right;
  height: 100%;
  margin: 0;
}
.navigation a {
  display: table;
  float: left;
  height: 100%;
  padding: 0 20px;
  /* margin-top: 13.5px; */
}
.navigation a:last-child {
  padding-right: 0;
}
.navigation a li {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0;
  font-size: 20px;
  height: 100%;
  color: white;
}

/* HEADER CSS */

.image {
  width: 100%;
}
/* SIDEBAR CSS*/
.description {
  font-size: 30px;
}
.description_para {
  font-size: 20px;
}
/* SIDEBAR CSS*/
i {
  height: 100%;
  width: 40px;
}

.fab {
  color: #F86687;
  float: right;
}


/*  CREDIT */
/* .credit a {
} */
/* CREDIT */
span {
  font-weight: bold;
}
.w {
  max-height: 300px;
  padding: 5px;
  border-radius: 5px;
  background: white;
  color: black;
  overflow-y: scroll;
  box-shadow: 0 0 20px 2px currentColor;
}

.profile {
  border: rgb(231, 69, 107) solid 3.5px;
  border-radius: 50%;
}
.picture {
  width: 100%;
  text-align: center;
}
.card_title{
  width: 50%;
  color: #F86687;
  font-size: 20px;
  height: 30%;
}
.card_date{
  width: 40%;
  color: rgba(141,141,141);
  height: 30%;
  font-size: 12.5px;
}
.card ,.card_title, .card_date{
  margin: 0;
  padding: 0;
}
.card{
  display: block;
  border-bottom:  #ae9ee2 solid 2px;
}

.card_title .card_date{
  display: inline-block;
}
